.container{
width: 200px;

margin-left: auto;
margin-right: auto;
margin-top: 10rem;
padding: 10px;

text-align: center;
background: greenyellow;
border: 5px solid green;
border-radius: 36px;
}

.output{
	margin-bottom: 1rem;
}

input{
	text-align: right;
}

button{
	border: 2px solid green;
	margin: 2px;
}